html {
  overflow-x: hidden;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y:auto;
  }

img {
    width:100%;
    height:100%;
}

ul {
  padding: 0px;
}

li {
  font-size: large;
}

button {
  background-color: white;
}

.container {
  height: 100%;
  width: 100%;
}

#start-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instructions{
  justify-content: start;
  margin-block-end: 30px;
}


#start-button{
  cursor: pointer;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #0981f2ff;
  background-color: none;
  font-size: large;
  color: #002046ff;
  padding-top:2px;
}

#task-container {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#complete-task{
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 20;
  border:#0981f2ff;
}

#done-button{
  cursor: pointer;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #0981f2ff;
  background-color: none;
  font-size: large;
  color: #002046ff;
}

#restart-task{
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 20;
  border:#0981f2ff;
}

#restart-button{
  cursor: pointer;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #0981f2ff;
  background-color: none;
  font-size: large;
  color: #002046ff;
}

#summary-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 30;
  background-color: white;
}

#results-container{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#cross{
  display: none;
  justify-content: center;
  align-items: center;
}

#images {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

#click-sensor {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 10;
}

#picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture{
  display: none;
  width: 50%;
  height: auto;
}

.target-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.target {
  width: 100%;
  max-width: 100px;
  height: auto;
  display: none;
}
